html{
    box-sizing: border-box;
}
*,  *:before, *:after{
    box-sizing: inherit;
}
body{
	background: url("../images/slider-1.png") no-repeat center;
	background-size: cover; /* Resize the background image to cover the entire container */
    width: 1366px;
    height: 768px;
}
#mainHeader{
    width: 1366px;
    height: 96px;
    opacity: 1;
    border-bottom: 2px solid orange;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
#mainHeader figure{
    top: 33px;
    left: 100px;
    width: 129px;
    height: 30px;
    opacity: 1;
}

#mainHeader nav ul > li{
    
    display: inline-block;
    width: 75px;
    height: 96px;
   
    
}
#mainHeader nav ul li > a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    
    width: 42px;
    height: 21px;
    color: white;
    text-decoration: none;
}
/*
header##section1Header h1 a, header##section1Header nav ul li a{
    text-decoration: none;
    color: white;
}
header##section1Header h1 a:hover, header##section1Header nav ul li a:hover{
      color: orange;
}
header##section1Header{
    color: white;
    border-bottom: 2px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header##section1Header h1{
    display: inline;
    margin-left: 5%;
}

header##section1Header nav ul > li{
    display: inline;
    margin-right: 1.5rem;
}
header##section1Header nav ul:last-child{
    margin-right: 3rem;
}
header##section1Header nav{
	display: inline-block;
	color: white;
	
}
*/
#section1{
	margin-left: 4em;
	margin-top: 6em;
	color: white;
}
#section1 header div h2{
    top: 254px;
    left: 101px;
    width: 554px;
    height: 115px;
    
}
#section1 header div h2{
    font-size: 48px;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#section1 p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
#section1 button{
	border-radius: 20px;
	background-color: orange;
	color: white;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    top: 480px;
    left: 101px;
    width: 144px;
    height: 48px;

}
#section2{
    position: absolute;
    top: 768px;
    left: 0px;
    width: 1366px;
    height: 672px;
}
#section3{
    position: absolute;
    top: 1440px;
    left: 0px;
    width: 1366px;
    height: 768px;
    background-color: #F2F4F1;
}
#section4{
    position: absolute;
    top: 2208px;
    left: 0px;
    width: 1366px;
    height: 768px;
}
#section5{
    position: absolute;
    top: 2976px;
    left: 0px;
    width: 1366px;
    height: 768px;
    background-color: #F2F4F1;
}
/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/