html{
    box-sizing: border-box;
}
*,  *:before, *:after{
    box-sizing: inherit;
}
body{
	
	background: url("https://images.unsplash.com/photo-1598524898412-d66b744c7f03?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat center;
	background-size: cover; /* Resize the background image to cover the entire container */
  	height: 100vh;
}
header#mainHeader h1 a, header#mainHeader nav ul li a{
    text-decoration: none;
    color: white;
}
header#mainHeader h1 a:hover, header#mainHeader nav ul li a:hover{
      color: orange;
}
header#mainHeader{
    color: white;
    border-bottom: 2px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header#mainHeader h1{
    display: inline;
    margin-left: 5%;
}

header#mainHeader nav ul > li{
    display: inline;
    margin-right: 1.5rem;
}
header#mainHeader nav ul:last-child{
    margin-right: 3rem;
}
header#mainHeader nav{
	display: inline-block;
	color: white;
	
}
main{
	margin-left: 4em;
	margin-top: 6em;
	color: white;
}
main header h2{
	font-size: 3rem;
}
main p {
	font-size: 1.5rem;
}
main button{
	border-radius: 20px;
	background-color: orange;
	padding: 1rem;
    color: white;
    border:none;
    width: 8rem;

}
